* {
  box-sizing: border-box;
}

body {
　min-height: 100vh;
  margin: 0;
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

table {
  width: 100%;
  border-collapse: collapse;
}